.header .menu-btn {
  background-color: whitesmoke;
  box-shadow: none;
  color: black;
  height: 100%;
  margin-right: 0.7rem;
}
.header .menu-btn:hover {
  background-color: whitesmoke;
}

.play-drawer {
}

/*Goals page-------------------------------------------------------------------------------------*/

.goalspage {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

